<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GP-SmART</title>
    <!-- Bootstrap -->
    <link rel="stylesheet" type="text/css" href="../static/plugins/bootstrap/bootstrap.min.css">
    <!-- Main Stylesheet -->
    <link rel="stylesheet" type="text/css" href="../static/css/smokerstyle.css" media="screen" />
	<link rel="shortcut icon" href="../static/assets/favicon.ico" type="image/x-icon">
	<link rel="icon" href="../static/assets/favicon.ico" type="image/x-icon">
</head>
<body>
	<!-- header -->
	<header class="banner overlay bg-cover" data-background="../static/assets/medical.jpg">
		
		<!-- banner -->
		<div class="container section">
			<div class="row">
				<div class="col-lg-8 text-center mx-auto">
					<h1 class="text-white mb-3">General Practice Smoking-status Assessment and Referral Tool (GP-SmART)</h1>
			

				</div>
			</div>
		</div>

	</header>
    <section id="section1">
        <h2>Patient is a likely smoker!</h2>
       <p> GP-SmART has predicted the patient is likely a smoker.
		This then allows the clinician to provide information and advice to reduce the harms associated with risky use.You may wish to discuss possible treatment options </p>
    </section>

	<!-- ** JS Plugins Needed for the Project ** -->
	<!-- jquiry -->
	<script type="text/javascript" src="../static/plugins/jquery/jquery-1.12.4.js"></script>
	<!-- Bootstrap JS -->
	<script type="text/javascript" src="../static/plugins/bootstrap/bootstrap.min.js"></script>

    <!-- Our JS -->
    <script type="text/javascript" src="../static/js/smoker.js"></script>


</body>
</html>